<template>
	<div class="content">
		<MoleculesOrderlist :title="tableTitle" :headers="headers" :rows="rows" />
	</div>
	
</template>

<script>
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import { mapFields } from 'vuex-map-fields';
	import { mapMultiRowFields } from 'vuex-map-fields';

	export default {

		data() {
			return {
				lang: 'en',
				tableTitle: 'Nye modtaget',
				headers: ['Ordre#', '', 'Navn', 'Email', 'Status', 'Date', 'Printings'],
				rows: 
				[
					{
						id: 1,
						active: false,
						values: 
						[
							{
								value: 1,
								type: 'checkbox',
								color: ''
							},
							{
								value: 'bob',
								type: 'string',
								color: '#000'
							},
							{
								value: 'bob@bob.com',
								type: 'string',
								color: 'blue'
							},
							{
								value: false,
								type: 'bool',
								color: 'red'
							},
							{
								value: 1630496122,
								type: 'time',
								color: '#000'
							},
							{
								value: {href: '/printzone/bob.pdf', desc: "<i class='fa fa-file-text-o'></i>"},
								type: 'link',
								color: '#000'
							}
						]
					},
					{
						id: 2,
						active: false,
						values:
						[
							{
								value: 2,
								type: 'checkbox',
								color: ''
							},
							{
								value: 'tony',
								type: 'string',
								color: '#000'
							},
							{
								value: 'tony@tony.com',
								type: 'string',
								color: 'blue'
							},
							{
								value: true,
								type: 'bool',
								color: 'green'
							},
							{
								value: 1630496122 + 10000,
								type: 'time',
								color: '#000'
							},
							{
								value: {href: '/printzone/tony.pdf', desc: "<i class='fa fa-file-text-o'></i>"},
								type: 'link',
								color: '#000'
							}
						] 
					},
					{
						id: 3,
						active: false,
						values:
						[
							{
								value: 3,
								type: 'checkbox',
								color: ''
							},
							{
								value: 'gary',
								type: 'string',
								color: '#000'
							},
							{
								value: 'gary@gary.com',
								type: 'string',
								color: 'blue'
							},
							{
								value: true,
								type: 'bool',
								color: 'green'
							},
							{
								value: 1630496122 - 10000,
								type: 'time',
								color: '#000'
							},
							{
								value: {href: '/printzone/gary.pdf', desc: "<i class='fa fa-file-text-o'></i>"},
								type: 'link',
								color: '#000'
							}
						]
					}
				]	
			}
		},
		beforeMount() {
		},
		mounted() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
			showProductInfo(){
				//let self = this;
				//this.extendedinfo = !this.extendedinfo;
			},
			reversedProducts(){
      			//return this.products.slice().reverse();
  			},
			getRoute() {
				//this.currentRoute = window.location.pathname;
			},
			toggleActive(row){
				row.active = !row.active;
				if (row.active == true) {
					console.log(row.id + ' active');
				} else {
					console.log(row.id + ' not active');
				}

			},
			selectAll(rows) {
				let self = this;

				this.rows.forEach(function(e, i){
					e.active = self.flipAll;
					
					

				});
			}


		}
	}
</script>
<style>
	
</style>