<template>
	<div class="column-item" >
		<div @click="tony(attributes.value)" v-if="attributes.type == 'string'" :style="{color: attributes.color}">
			{{attributes.value}}
		</div>
		<div v-if="attributes.type == 'bool'" :style="{color: attributes.color}">
			{{attributes.value}}
		</div>
		<div @click="mario()" v-if="attributes.type == 'time'" :style="{color: attributes.color}">
			{{makeTime(attributes.value)}}
		</div>
		<div v-if="attributes.type == 'link'" :style="{color: attributes.color}">
			<a v-html="attributes.value.desc" :href="attributes.value.href"> 
			</a>
		</div>
		
	</div>
	
</template>

<script>

	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import { mapFields } from 'vuex-map-fields';
	import { mapMultiRowFields } from 'vuex-map-fields';

	export default {
		props: {
			attributes: {
				type: Object
			}
		},
		data() {
			return {
							
			}
		},
		beforeMount() {
		},
		mounted() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
			showProductInfo(){
				//let self = this;
				//this.extendedinfo = !this.extendedinfo;
			},
			reversedProducts(){
      			//return this.products.slice().reverse();
  			},
			getRoute() {
				//this.currentRoute = window.location.pathname;
			},
			makeTime(seconds) {
				let self = this;
				var seconds = self.attributes.value;
				var date = new Date(seconds * 1000);
				var output = date.getDate() + '-' + (parseInt(date.getMonth()) + 1) + '-' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes();
				return output;

			}
		}
	}
</script>