<template>
	<div>
		<MoleculesOrderOverview :slugid="slug.order" />
	</div>
</template>

<script>


export default {

	// validate({params}) {
	// 	return /^\d+$/.test(params.order)
	// },
	data() {
		return {
			slug: this.$route.params,
			
		}
	},
	created() {
		console.log();
	},
	methods: {
		
	}
}
</script>
