<template>
  <div class="row d-flex">
  	<div class="flex-row justify-content-streach align-items-stretch col-12 col-md-9">
  		<div class="card p-3 h-100">
  			<div class="row">
  				<div class="col-6">
	  				<line-chart v-if="datacollection1 != null" :chart-data="datacollection1"></line-chart>
	  			</div>
	    		<div class="col-6">
	  				<line-chart v-if="datacollection2 != null" :chart-data="datacollection2"></line-chart>
	  			</div>	
  			</div>
    	</div>

	</div>
	<div class="flex-row justify-content-streach align-items-stretch col-6 col-md-3">
		<div class="card p-3 h-100">
			<div class="data d-flex justify-content-between" :stats="chartstats" v-for="stat in chartstats" >
				<p>{{ stat.number }}</p>
				<p>{{ stat.content }}</p>
			</div>
		</div>
	</div>
  </div>
</template>

<script>

export default {
	props: {
		datacollection1: {
			type: Object
		},
		datacollection2: {
			type: Object
		},
		chartstats: {
			type: Array
		}
	},
	components: {
	},
	data () {
	    return {
	 	}
	},
	mounted () {
	},
	methods: {
	}
}
</script>

<style>
.small {
max-width: 600px;
margin:  150px auto;
}
</style>
