<template>
	<div class="row gx-4">
		<atomsDashheaderitem :itemr="item" v-if="item.value != ''" v-for="(item, index) in items" :key="index" 
		:class="{'col-4': totalAtoms == 1, 'col-3': totalAtoms == 2 || totalAtoms == 3, 'col-3' : totalAtoms > 3}"/>
		<div class="test">
			{{ test('Jaman', 1993) }}
		</div>

	</div>
	
</template>

<script>

	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import { mapFields } from 'vuex-map-fields';
	import { mapMultiRowFields } from 'vuex-map-fields';

	export default {
		
		data() {
			return {
				totalAtoms: '',
				items: [
					{
						value: 60,
						ratio: 14.285,
						range: 420,
						icon: "fas fa-user",
						text: 'Tony Banana',	
						color: 'yellow',
						time: false
					},
					{
						value: 85,
						ratio: 85,
						range: 100,
						icon: "far fa-envelope",
						text: 'Tony Potato',	
						color: 'brown',
						time: false
					},
					{
						value: 317,
						ratio: 63.4,
						range: 500,
						icon: "fas fa-shopping-cart",
						text: 'Tony Carrot',	
						color: 'orange',
						time: false
					},
					{
						value: 36000,
						ratio: 30,
						range: 60,
						icon: 'far fa-eye',
						text: 'Tony Time',	
						color: 'cyan',
						time: true
					},
				]
			}
		},
		beforeMount() {
		},
		mounted() {
			this.checkElements();
		},
		watch: {
		},
		computed: {
		},
		methods: {
			showProductInfo(){
				//let self = this;
				//this.extendedinfo = !this.extendedinfo;
			},
			reversedProducts(){
      			//return this.products.slice().reverse();
  			},
			getRoute() {
				//this.currentRoute = window.location.pathname;
			},
			checkElements() {
				let elems = this.items.length;
				this.totalAtoms = elems;
			}
		}
	}
</script>
