<template>
	<div class="wrapper">
	    <!-- Sidebar -->
	    <nav id="sidebar" :class="{ fold : folded }">
	    	<div class="fold">
	    		
	    	</div>
	        <div class="sidebar-header mt-4 ml-4 d-flex justify-content-between align-items-center">
	            <h3 class="m-0">Navigation</h3>
	            <i class="fas fa-arrow-left mr-3 toggle" @click="toggleMenu()"></i>
	        </div>

	        <div class="menu-list d-flex flex-column">
               <NuxtLink :to="elem.link" v-for="elem in navigation" class="pl-4 py-2 d-flex ">
               	<i :class="elem.icon" class="element mr-4 float-left"></i>
               	<p class="float-left m-0">{{elem.element}}</p>
               </NuxtLink>
	        </div>
	    </nav>

	</div>
</template>

<script>


export default {

	
	data() {
		return {
			navigation: [
				{
					element: 'Dashboard',
					link: '/dashboard',
					icon: 'fas fa-check-square'
				},
				{
					element: 'Orders',
					link: '/orders/',
					icon: 'fas fa-folder'
				}
			],
			folded: false,
		}
	},
	created() {
	},
	methods: {
		toggleMenu() {

			this.folded = !this.folded;
		}
	}
}
</script>
<style lang="scss">
	.wrapper {
	    display: inline-block;
	    position: relative;
	    float: left;
	}

	#sidebar {
		position: relative;
		float: left;
		width: 100%;
	    min-width: 300px;
	    max-width: 300px;
	    min-height: 100vh;
		background-color:#012547;
		transition: max-width .4s, min-width .4s;
		overflow: hidden;
		&.fold {
			max-width: 60px;
			min-width: 60px;
			.sidebar-header {
				h3 {
					display: none;
				}
				.toggle {
					-webkit-transform: rotate(180deg);
          			transform: rotate(180deg);
				}
			}
			.menu-list {
				a {
					p {
						/*display: none;*/
					}
				}
			}
		}
		.sidebar-header {
			height: 35px;
			h3 {
				transition: display .9s;
			}
			.toggle {
				transition: transform .6s;
			}
		}
	}
	.sidebar-header {
		color: white;
	}
	.menu-list {
		padding:10px 0;
		a {
			color: white;
			&:hover {
				text-decoration:none;
				color: white;
				cursor:pointer;
				background-color:#142f75;
			};
		}
		
	}
	

</style>
