<template>
	<div class="container">
		<div class="order-list">
			<div class="pt-3 pb-2">
				<div class="title">
				<h2>
					{{title}}
				</h2>
			</div>
			</div>
			<div class="pt-2 pb-2 ">
				<table class="table border rounded">
				<thead >
					<tr>
						<th class="pt-4 pb-4"><input type="checkbox" name="all" v-model="flipAll" @change="selectAll(rows)"></th>
						<th class="pt-4 pb-4" v-for="(header, index) in headers"> {{header}} </th>
					</tr>
				</thead>
				<tbody>
					
					<tr class="px-5" :class="[row.active ? 'row-highlight' : 'row-lowlight']" v-for="(row, index) in rows" >
						<td class="pt-3 pb-3" ><input type="checkbox" :ref="'id' + row.id" v-model="row.active"></td>
					
						<!-- <td class="pt-3 pb-3" ><a :href="'order/'+row.id+'/'" > {{row.id}} </a></td> -->
						<td class="pt-3 pb-3" >	<NuxtLink :to="'order/'+row.id+'/'" class="pl-4 py-2"> {{row.id}} </NuxtLink></td>
						<td class="pt-3 pb-3"  v-for="(value, index) in row.values"><AtomsTableColumn :attributes="value"/></td>
					</tr>
				</tbody>					
			</table>
			</div>
		</div>
	</div>
	
</template>

<script>
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import { mapFields } from 'vuex-map-fields';
	import { mapMultiRowFields } from 'vuex-map-fields';
	


	export default {
		props: {
			title: String,
			headers: {
				type: Array
			},
			rows: {
				type: Array
			}
		},

		data() {
			return {
				flipAll: false,
			}
		},
		beforeMount() {
		},
		mounted() {
		},
		created() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
			showProductInfo(){
				//let self = this;
				//this.extendedinfo = !this.extendedinfo;
			},
			reversedProducts(){
      			//return this.products.slice().reverse();
  			},
			getRoute() {
				//this.currentRoute = window.location.pathname;
			},
			toggleActive(row){
				row.active = !row.active;
				if (row.active == true) {
					console.log(row.id + ' active');
				} else {
					console.log(row.id + ' not active');
				}

			},
			selectAll(rows) {
				let self = this;

				this.rows.forEach(function(e, i){
					e.active = self.flipAll;
					
					

				});
			}


		}
	}
</script>