<template>
	<div class="content">
		<div class="container ">
			<div class="row m-0">
				<div class="col-12  mb-5 mx-0 px-0">
					<div class="row pt-3 w-100 m-0 align-items-center">
						<div class="col-6 p-0">
							<NuxtLink to="/orders/" class="py-2"><span class="back mr-3"><i class="arrow left"></i></span></NuxtLink>
							<span class="text font-weight-bold my-1 mx-0">DEV#{{slugid}}</span>
						</div>
						<div class="col-6 p-0 w-100">
							<div class="actions d-flex">
								<div class="button transparent ml-1 small my-0">
									Opdel pakker								
								</div>
								<div class="button transparent ml-1 small my-0">
									Handlinger								
								</div>
								<div class="button fill ml-1 small my-0">
									Send ordre nu								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-12 col-md-8 ">
					<div class="card">
						<div class="row px-4 pt-3 w-100 m-0">
							<div class="col-3 ">
								<span class="font-weight-bold">Beskrivelse</span>
							</div>
							<div class="col-3 ">
								<span class="font-weight-bold">Lancering</span>
							</div>
							<div class="col-3 ">
								<span class="font-weight-bold">Handling</span>
							</div>
							<div class="col-3 ">
								<span class="font-weight-bold">Operationer</span>
							</div>
						</div>
					 	<hr class="py-0 mb-1 mt-3"/>
						<div class="row px-4 py-2 border-bottom w-100 m-0 order-element" v-for="order in ordersArray" data-toggle="modal" data-target="#editElement" >
							<!-- <a href="#"  class="blue"> -->
								<div class="col-3 ">
									<div class="row">
										<div class="col-12">
											<span class="text small my-0">{{order.name}}</span>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<span class="text small my-1 mx-0"><span class="font-weight-bold">GTIN: </span>{{order.gtin}}</span>
										</div>
									</div>
								</div>
								<div class="col-3 ">
									<div class="row">
										<div class="col-12">
											<span class="text small my-0" v-if="!order.launch">No</span>
											<div class="launch-company d-flex flex-column" v-else >
												<span class="text small my-0 mx-0 " >{{order.launch.company}}</span>	
												<span class="text small my-0 mx-0 " >{{order.launch.date}}</span>	
											</div>
											
										</div>
									</div>
									
								</div>
								<div class="col-3 ">
									<span class="text small my-0">{{order.handling}}</span>
								</div>
								<div class="col-3 ">
									<div class="operations" v-for="operation in order.operationer">
										<span class="text small my-0">{{operation.image}}</span>
										<span class="text small my-0">{{operation.image2}}</span>
										<span class="text small my-0">{{operation.tjek}}</span>
										<span class="text small my-0">{{operation.sync}}</span>
									</div>
								</div>
							<!-- </a> -->
						</div>
					</div>
				</div>
				<div class=" col-6 col-md-4 ">
					<div class="card py-3 " >
						<div class="row px-4 ">
							<div class="col-12">
								<span class="text regular font-weight-bold my-1 mx-0">DEV#{{slugid}}</span>
							</div>
						</div>
						<hr size="3"/>
						<div class="row px-4 ">
							<div class="col-6 d-flex flex-column">
								<span class="text  my-1 mx-0 font-weight-bold">Forsendelse </span>
							</div>
							<div class="col-6 d-flex flex-column ">
								<span class="text my-1 mx-0 text-right"><a href="#" class="blue">Rediger </a></span>
							</div>
						</div>
						<div class="row px-4 ">
							<div class="col-12 d-flex flex-column">
								<span class="text  my-1 mx-0 small">TEST</span>
							</div>
						</div>
						<hr/>
						<div class="row px-4 ">
							<div class="col-6 d-flex flex-column">
								<span class="text  my-1 mx-0 font-weight-bold">Modtager </span>
							</div>
							<div class="col-6 d-flex flex-column">
								<span class="text  my-1 mx-0 text-right "><a href="#" class="blue">Rediger</a></span>
							</div>
						</div>
						<div class="row px-4 ">
							<div class="col-12 d-flex flex-column" v-for="data in invoice">
								<span class="text  my-1 mx-0 small">{{ data.info }}</span>
							</div>
						</div>
						<hr/>
						<div class="row px-4 ">
							<div class="col-6 d-flex flex-column">
								<span class="text  my-1 mx-0 font-weight-bold">Fakturering </span>
							</div>
							<div class="col-6 d-flex flex-column">
								<span class="text  my-1 mx-0 text-right "><a href="#" class="blue">Rediger</a></span>
							</div>
						</div>
						<div class="row px-4 ">
							<div class="col-12 d-flex flex-column">
								<span class="text  my-1 mx-0 small">Samme som modtager</span>
							</div>
						</div>
						<hr/>
						<div class="row px-4 ">
							<div class="col-6 d-flex flex-column">
								<span class="text  my-1 mx-0 font-weight-bold">Afsender</span>
							</div>
							<div class="col-6 d-flex flex-column">
								<span class="text  my-1 mx-0 text-right "><a href="#" class="blue">Rediger</a></span>
							</div>
						</div>
						<div class="row px-4 ">
							<div class="col-12 d-flex flex-column">
								<span class="text  my-1 mx-0 small">Sandagervej 10, DK-7400</span>
							</div>
						</div>
					</div>

					<div class="card py-3 my-4" >
						<div class="row px-4 pb-3 ">
							<div class="col-12">
								<span class="text regular font-weight-bold my-1 mx-0">Tags</span>
							</div>
						</div>
						<div class="row px-4 ">
							<div class="col-12">
							    <b-form-tags input-id="tags-basic" v-model="tagValues"></b-form-tags>
							</div>
						</div>
					</div>	

					<div class="card py-3 my-4" >
						<div class="row px-4 pb-3 ">
							<div class="col-6 d-flex flex-column">
								<span class="text  my-1 mx-0 font-weight-bold">Komentarer </span>
							</div>
							<div class="col-6 d-flex flex-column">
								<span class="text  my-1 mx-0 text-right "><a href="#" data-toggle="modal" data-target="#addComent" @click="triggerAddComment()" class="blue">Add</a></span>
							</div>
						</div>
						<div class="row px-4 ">
							<div class="col-12">
							    <div class="comments">
							    	<div class="comment d-flex justify-content-between py-1" v-for="(com, index) in comments " :key="index" >
							    		<span class="content small m-0">{{com}}</span>
							    		<span class="text  my-0 mx-0 blue small" data-toggle="modal" data-target="#addComent" @click="triggerUpdateComment(index)">Rediger</span>
							    	</div>
							    </div>
							</div>
						</div>
					</div>		
				</div>	
			</div>

			<!-- Modal -->
			<div class="modal fade" id="addComent" tabindex="-1" role="dialog" aria-labelledby="addComentlLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="addComentlLabel">Kommentarer</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <textarea class="w-100" name="comment" id="commentText" cols="30" rows="10" v-model="commenttext"></textarea>	
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn btn-secondary" data-dismiss="modal" v-if="!this.updating" @click="pushCommentToArray()">Add</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal" v-else @click="submitUpdatedComment()">Update</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal" v-if="this.deletingComment" @click="deleteComment()">Delete</button>	
			      </div>
			    </div>
			  </div>
			</div>

			<!-- Modal -->
			<!-- <div class="modal fade" id="editElement" tabindex="-1" role="dialog" aria-labelledby="editElementLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="editElementLabel">Details</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <div class="details">
			        	
			        </div>
			      </div>
			      <div class="modal-footer">
			      	
			      </div>
			    </div>
			  </div>
			</div> -->

		</div>
	</div>

</template>

<script>
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import { mapFields } from 'vuex-map-fields';
	import { mapMultiRowFields } from 'vuex-map-fields';

	export default {
		props: {
			slugid: {
				type: String
			}
			
		},
		data() {
			return {
				updating: false,
				tagValues: ['test','test2'],
				comments: [],
				commenttext: '',
				deletingComment: false,
				currentcomment: 0,
				ordersArray: [
					{
						name: 'Tony King',
						gtin: 3941727461,
						launch: false,
						handling: 'Returner',
						operationer: [
							{image: 'Image1.jpg'},
							{image2: 'Image22.jpg'},
							{tjek: 'Tjekket'},
							{sync: 'Sync'},
						]
					},
					{
						name: 'Tony Lasagne',
						gtin: 1648172641,
						launch: {
							company: 'coop',
							date: '21/08/2021'
						},
						handling: 'Destruer',
						operationer: [
							{image: 'Image1.jpg'},
							{image2: 'Image22.jpg'},
							{tjek: 'Tjekket'},
							{sync: 'Sync'},
						]
					},
					{
						name: 'Tony Pasta',
						gtin: 8273182763,
						launch: {
							company: 'Nordea',
							date: '11/09/2021'
						},
						handling: 'Donate',
						operationer: [
							{image: 'Image1.jpg'},
							{image2: 'Image22.jpg'},
							{tjek: 'Tjekket'},
							{sync: 'Sync'},
						]
					},
					{
						name: 'Tony Pizzas',
						gtin: 4714819832,
						launch: false,
						handling: 'Returner',
						operationer: [
							{image: 'Image1.jpg'},
							{image2: 'Image22.jpg'},
							{tjek: 'Tjekket'},
							{sync: 'Sync'},
						]
					},
					
				],
				invoice: [
					{info: 'Test Testersen'},
					{info: 'Skolegade 21'},
					{info: 'Dk-1234 København K'},
					{info: 'Test@test.com'},
				],
			}
		},
		beforeMount() {
		},
		mounted() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
			triggerAddComment() {
				let self = this,
					textarea = self.commenttext,
					arr = self.comments;

				self.commenttext = '';
				textarea = '';
				self.updating = false;
				self.deletingComment = false;
				
			},

			pushCommentToArray() {
				let self = this,
					textarea = self.commenttext,
					arr = self.comments;

				arr.push(textarea);
				self.commenttext = '';
				textarea = '';
			},

			triggerUpdateComment(index) {
				let self = this,
					textarea = self.commenttext,
					arr = self.comments,
					arrElement = arr[index];

				self.currentcomment = index;
				self.updating = true;
				self.commenttext = arrElement;
				self.deletingComment = true;
			},

			submitUpdatedComment() {
				let self = this,
					textarea = self.commenttext;

				self.comments.forEach(function(e,i){
					if(i == self.currentcomment){
						self.comments[i] = self.commenttext;
					}
				});
				self.comments.push('');
				self.comments.pop();
				self.updating = false;
				self.deletingComment = false;
				self.commenttext = '';
				textarea = '';
			},

			deleteComment() {
				let self = this;
				
				self.comments.forEach(function(e,i){
					
					if(i == self.currentcomment){
					 	self.comments.splice(i, 1)
					}
				});
				self.updating = false;
			},
		}
	}
</script>

<style scoped lang="scss">
	//Colors
	.darkblue {
		color:#012547;
	}
	.blue {
		color: #142f75;
	}
	//BACK BUTTON
	.back {
	    padding: 10px 15px;
    	background: white;
	}
	.arrow {
	  border: solid #012547;
	  border-width: 0 3px 3px 0;
	  display: inline-block;
	  padding: 3px;
	}
	.left {
	  transform: rotate(135deg);
	  -webkit-transform: rotate(135deg);
	}
	.order-element {
		&:hover {
			cursor:pointer;
		};
	}
	// BUTTONS TOP
		.button {
			padding: 10px 15px;
			border: 1px solid #012547;
			width: 100%;
			text-align: center;
			&:hover {
				cursor:pointer;
			}
			&.transparent {
				background: transparent;
				color:#012547;
			}
			&.fill {
				background: #012547;
				color:white;
			}
		}
	//DASHBOARD RIGHT COLUMN LIMIT TEXT ...
	.comments {
		.comment {
			.content {
				width: auto;
				max-width: 13ch; 
				white-space: nowrap; 
				overflow: hidden; 
				text-overflow: ellipsis;
			}
		}
	}
</style>