<template>
	<!-- <div class="col my-3" :class="{'col-4': itemr.totalAtoms == 1, 'col-3': itemr.totalAtoms == 2 || itemr.totalAtoms == 3, 'col-3' : itemr.totalAtoms > 3}">  -->
	<div class="col my-3"> 
		<div class="dash-header-item card p-3">
			<div class="d-flex justify-content-between">
				<div class="number mx-0" v-if="itemr.time == false">{{itemr.value}}</div>				
				<div class="number mx-0" v-if="itemr.time == true">{{makeTime(itemr.value)}}</div>
				<div class="icon-wrapper">
					<i :class="itemr.icon"></i>
				</div>
			</div>

			<div class="mx-0 my-2">
				<div @click="tony(itemr.text)" class="bar-description">{{itemr.text}}</div>
			</div>

			<div class="progress">
				<div 
				class="progress-bar" 
				role="progressbar" 
				:style="{width: itemr.ratio + '%', backgroundColor: itemr.color + ' !important'}" 
				aria-valuemin="0" 
				aria-valuemax="100"
				:aria-valuenow="itemr.ratio">
			 	</div>
			</div>
		</div>
	</div>
	
</template>

<script>
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import { mapFields } from 'vuex-map-fields';
	import { mapMultiRowFields } from 'vuex-map-fields';


	export default {
		props: {
			itemr: {
				type: Object
			}
		},
		data() {
			return {
				// token: this.$store.state.token,
				// lang: 'en',
				// translations: mylib.translateStrings(this.$store.state.lang.name),
				// value: 60,
				// ratio: 14.285,
				// range: 420,
				// icon: "https://e7.pngegg.com/pngimages/518/64/png-clipart-person-icon-computer-icons-user-profile-symbol-person-miscellaneous-monochrome-thumbnail.png",
				// text: 'Tony Banana',	
				// totalAtoms: 3,
			}
		},
		beforeMount() {
		},
		mounted() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
			showProductInfo(){
				//let self = this;
				//this.extendedinfo = !this.extendedinfo;
			},
			reversedProducts(){
      			//return this.products.slice().reverse();
  			},
			getRoute() {
				//this.currentRoute = window.location.pathname;
			},
			makeTime(seconds){
				let self = this;
				var seconds = self.itemr.value;
				var minutes = seconds/60;
				minutes = parseInt(minutes);
				var hours = parseInt(minutes/60);
				minutes = minutes - hours * 60;
				var days = parseInt(hours/24);
				hours = hours - days * 24;
				if (minutes.toString().length < 2) {
					minutes = '0' + minutes.toString();
				}

				if (hours.toString().length < 2) {
					hours = '0' + hours.toString();
				}

				return days + ':' + hours + ':' + minutes;


			}
		}
	}
</script>

