<template>
	<div>
		<div class="error">
			<h1>{{error.statusCode}} Page not found</h1>
		</div>
    	<!-- <h1 v-if="error.statusCode === 404">Page</h1> -->
    	<!-- <h1 v-else>An error occurred</h1> -->

   <NuxtLink to="/order">Home page</NuxtLink>
  </div>
</template>

<script>


export default {
 	props: ['error'],
 	
	data() {
		return {
			
		}
	},
	created() {
		console.log();
	},
	methods: {
		
	}
}
</script>
