<template>
  <div class="alex">
  	<MoleculesMenu />
  	<Nuxt />
  </div>
</template>
<script>
	export default {


	}

	import Vue from "vue";
	import global from "~/mixins.js/global.js";
	Vue.mixin(global);
</script>
<style>
	.content {
		position: relative;
		float: left;
		width: calc(100% - 300px)
	}
</style>