<template>
	<div class="content">
		<div class="container">
			<moleculesDashheader  />
			<!-- <moleculesOrderlist :title="tableTitle" :headers="headers" :rows="rows"/>		 -->
			<moleculesCharts :chartstats="dashboardChartStats" :datacollection1="datacollection" :datacollection2="datacollection2"/>
		</div>
	</div>
  
</template>

<script>


export default {

	data() {
		return {
			tableTitle: 'Nye modtaget',
			headers: ['Ordre#', '', 'Navn', 'Email', 'Betalt?', 'Dato', 'Printings'],
			dashboardChartStats: [
				{
					number: '#'+1323,
					content: 'Tony King',
				},
				{
					number: '#'+8648,
					content: 'Tony Donald',
				},
				{
					number: '#'+6431,
					content: 'Tony Trump',
				},
				{
					number: '#'+8799,
					content: 'Tony Jagger',
				},
				{
					number: '#'+4321,
					content: 'Tony Montana',
				},
				{
					number: '#'+5645,
					content: 'Tony Italy',
				},
				{
					number: '#'+1724,
					content: 'Tony Cheese',
				}

			],
			datacollection: {
		        labels: [this.getRandomInt(), this.getRandomInt()],
		        datasets: [
		          {
		            label: 'Data One',
		            backgroundColor: '#f87979',
		            data: [this.getRandomInt(), this.getRandomInt()]
		          },
		          {
		            label: 'Data One',
		            backgroundColor: '#f87979',
		            data: [this.getRandomInt(), this.getRandomInt()]
		          }
		        ]
		    },
		    datacollection2: {
		        labels: [this.getRandomInt(), this.getRandomInt()],
		        datasets: [
		          {
		            label: 'Data One',
		            backgroundColor: '#f87979',
		            data: [this.getRandomInt(), this.getRandomInt()]
		          },
		          {
		            label: 'Data One',
		            backgroundColor: '#f87979',
		            data: [this.getRandomInt(), this.getRandomInt()]
		          }
		        ]
		    },
			rows: 
			[
				{
					id: 1,
					active: false,
					values: 
					[
						{
							value: 1,
							type: 'checkbox',
							color: ''
						},
						{
							value: 'bob',
							type: 'string',
							color: '#000'
						},
						{
							value: 'bob@bob.com',
							type: 'string',
							color: 'blue'
						},
						{
							value: false,
							type: 'bool',
							color: 'red'
						},
						{
							value: 1630496122,
							type: 'time',
							color: '#000'
						},
						{
							value: {href: '/printzone/bob.pdf', desc: "<i class='fa fa-file-text-o'></i>"},
							type: 'link',
							color: '#000'
						}
					]
				},
				{
					id: 2,
					active: false,
					values:
					[
						{
							value: 2,
							type: 'checkbox',
							color: ''
						},
						{
							value: 'tony',
							type: 'string',
							color: '#000'
						},
						{
							value: 'tony@tony.com',
							type: 'string',
							color: 'blue'
						},
						{
							value: true,
							type: 'bool',
							color: 'green'
						},
						{
							value: 1630496122 + 10000,
							type: 'time',
							color: '#000'
						},
						{
							value: {href: '/printzone/tony.pdf', desc: "<i class='fa fa-file-text-o'></i>"},
							type: 'link',
							color: '#000'
						}
					] 
				},
				{
					id: 3,
					active: false,
					values:
					[
						{
							value: 3,
							type: 'checkbox',
							color: ''
						},
						{
							value: 'gary',
							type: 'string',
							color: '#000'
						},
						{
							value: 'gary@gary.com',
							type: 'string',
							color: 'blue'
						},
						{
							value: true,
							type: 'bool',
							color: 'green'
						},
						{
							value: 1630496122 - 10000,
							type: 'time',
							color: '#000'
						},
						{
							value: {href: '/printzone/gary.pdf', desc: "<i class='fa fa-file-text-o'></i>"},
							type: 'link',
							color: '#000'
						}
					]
				}
			]	
		}
	},
	methods: {
		getRandomInt () {
	      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
	    }
	}
}
</script>
<style scoped >
	
</style>
