@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');
@import url('//cloud.typography.com/6247692/752844/css/fonts.css');
// @import url('/src/styles/fontawesome.min.css');





/* Variables */ 
$font1: "Gotham SSm A", "Gotham SSm B", Verdana, sans-serif;
$font2: "Gotham Narrow SSm A", "Gotham Narrow SSm B", Verdana, sans-serif;
$font3: "Gotham A", "Gotham B", Verdana, sans-serif;

$white: #FFFFFF;
$lightgrey: rgba(241,241,241,1);
$grey: rgba(175,178,178,1);
$lightblue: rgba(59,154,196,1);
$black: rgba(74,74,74,1);

$blue: #032447;
$orange: #ffa500;
$green: #00b360;
$grey: #F0F3F4;

@mixin transition($var) {
	transition: $var;
	-webkit-transition: $var;
	-o-transition: $var;
	-moz-transition: $var;
}

body {
  background-color:#f7f7f7 !important;
}

i{

font-family: 'FontAwesome';
font-style: initial;
  &.solid{
    font-family: 'FontAwesomeSolid';
  }
}

.dash-header-item {
  .number {
    font-size: 2rem;
  }
  i {
    font-size: 2rem;
    color:rgb(180, 180, 180);
  }
  .bar-description {
    font-size: 14px;
    color: rgb(180, 180, 180);
  }
  .progress {
    height: 5px;
  }
}

.order-list {
  background-color: rgb(248, 248, 248);

  .title {

  }

  .table {
    background-color: white;
    //border-radius: 100px;

    thead {
      margin-left: 10px;
    }

    tbody {
      tr {
        td {
          height: 60px;
        }
      }
      tr:hover {
        background-color: rgb(255, 254, 197);
      }
    }
  }
}

.column-item {
  div {
      a {
          i {
            font-size: 20px;
          }
      }
  }
}

.row-highlight {
  background-color: rgb(255, 254, 197);
}
.row-lowlight {
  background-color: rgb(255, 255, 255);
}